.clj-kondo
.lsp

.env
env.mac
env.test
env.debian
env.docker
env.mac.docker

docs
js/add_files_to_ipfs/node_modules
js/add_files_to_ipfs/add_files_to_ipfs.js
js/add_files_to_ipfs/package.json
js/add_files_to_ipfs/package-lock.json

testdata/ipfs
testdata/db
